@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.light-text {
  font-weight: 300;
}

.regular-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 700;
}

body {
  background: #f9f7fe;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}
